In [2]:
import sys
sys.path.append('../')
from sudokus_manager.sudoku import Sudoku
import numpy as np

In [30]:
data = np.arange(13)
data2 = np.arange(7,20)

In [57]:
type(data), data2

(numpy.ndarray, array([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]))

In [32]:
data3 = data2 - data

In [45]:
data4 = data | data2

In [46]:
data4

array([ 7,  9, 11, 11, 15, 13, 15, 15, 15, 25, 27, 27, 31])

In [38]:
np.inner(data,data2)

1196

In [37]:
a = np.array([11, 11, 12, 13, 14, 15, 16, 17, 12, 13, 11, 14, 18, 19, 20])
print(len(a))
unique_values, indices_list = np.unique(a, return_index=True)
print(unique_values,indices_list)

15
[11 12 13 14 15 16 17 18 19 20] [ 0  2  3  4  5  6  7 12 13 14]

In [83]:
from array import *
c1 = {1, 2, 3, 4, 5, 6}
c2 = {2, 4, 6, 8, 10}
c3 = {1, 2, 3}
c4 = {4, 5, 6}

c5 = list(c4)
c6 = set(c5)

In [89]:
c4, c5, c6

({4, 5, 6}, [4, 5, 6], {4, 5, 6})

In [61]:
c1 | c2

{1, 2, 3, 4, 5, 6, 8, 10}

In [62]:
c1 | c2 | c3

{1, 2, 3, 4, 5, 6, 8, 10}

In [63]:
c1 & c2

{2, 4, 6}

In [69]:
c1 & c2 & c3 & c4

set()

In [66]:
c1.union(c2)

{1, 2, 3, 4, 5, 6, 8, 10}

In [67]:
c1.intersection(c2, c3)

{2}

In [70]:
c1 - c2

{1, 3, 5}

In [71]:
c1 ^ c2

{1, 3, 5, 8, 10}

In [72]:
c1.difference(c2)

{1, 3, 5}

Objetivo: aprender a realizar operaciones como la unión, intersección y diferencia de conjuntos en Python.

Continuamos nuestro repaso al tipo set en Python aprendiendo, por fin. a realizar las operaciones clásicas por antonomasia.

Definamos antes algunos conjuntos sobre los que practicar:

>>> c1 = {1, 2, 3, 4, 5, 6}
>>> c2 = {2, 4, 6, 8, 10}
>>> c3 = {1, 2, 3}
>>> c4 = {4, 5, 6}
Empecemos por la unión de dos conjuntos, definida como el conjunto de elementos que están en uno o en otro (o en ambos).

>>> c1 | c2
{1, 2, 3, 4, 5, 6, 8, 10}
Podemos incluir más de dos operandos:

>>> c1 | c2 | c3
{1, 2, 3, 4, 5, 6, 8, 10}
Y seguimos con la intersección: el conjunto de elementos que estan en ambos.

>>> c1 & c2
{2, 4, 6}
>>> c1 & c2 & c3 & c4
set()       # El conjunto vacío
Estos operadores también tienen variantes como métodos del objeto set. Observa su uso autoexplicativo:

>>> c1.union(c2)
{1, 2, 3, 4, 5, 6, 8, 10}
>>> c1.intersection(c2, c3)
{2}
La diferencia de dos conjuntos A y B, A – B, es el conjunto de elementos que están en A pero no en B. En Python se implementa con un operador de resta simple (-):

>>> c1 - c2
{1, 3, 5}
La unión exclusiva, también conocida como diferencia simétrica, es el conjunto de elementos que están en A o B, pero no en ambos:

>>> c1 ^ c2
{1, 3, 5, 8, 10}
Compara este resultado con la unión, calculada anteriormente.

También existe versión método para estos operadores:

>>> c1.difference(c2)
{1, 3, 5}
>>> c1.symmetric_difference(c2)
{1, 3, 5, 8, 10}
Más adelante conoceremos situaciones en las que será más interesante usar los métodos que los operadores, aunque ahora quizás te resulte redundante.

Aún nos quedan algunos métodos por conocer relacionados con los conjuntos, pero no dispongo de más tiempo por hoy, de modo que los dejaremos para la siguiente ocasión.

Para finalizar, un pequeño consejito: conoce bien las estructuras de datos y el tipo de operaciones que puedes realizar con ellas. Con frecuencia, resolver elegantemente un problema de programación no se reduce a otra cosa sino a elegir la estructura de datos más adecuada.

In [100]:
none = {0, 1, 2, 3, 6, 7}
values = {0, 1, 2, 3, 5, 6, 7, 8}

In [101]:
list(values - none)

[8, 5]